<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/chromatography (1).ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yusif Qabil</title>
</head>
<body style=>
    <div style="padding-bottom: 15px; border-bottom: 10px black;";><img style="width: 10%;border-radius: 60px;"src="/static/img2.jpeg">
    <h1 style="text-align:center;border-top: 2px solid;">Yusif Yasser Qabil Mahmoud</h1>
    <h2 style="text-align:center; font-size: medium;">Research and development specialist | Python Developer | Automation Specialist</h2>
    <h2 style="text-align:center; font-size: medium; border-bottom: 2px solid black; padding-bottom: 10px;"><a href="https://www.linkedin.com/in/yusif-qabil-a80864ab/">Linkedin</a> | <a href="https://github.com/yusifqabil">Github</a> | <a href="https://wa.me/+201095296060">Whatsapp</a> | <a href="mailto:yusifqabil@outlook.com">Outlook</a> | <a href="mailto:yusyasser@gmail.com">Gmail</a> </h2>
    
    <h3 style="padding-left: 10px;"">Education</h3>
    <ul><b>Bachelor Degree (Pharmacy & Biotechnology)</b>
        <li style="padding-top: 10px;">German University In Cairo (2018-2023)</li>
        <li>Graduated excellent with honors</li>
    </ul>
    <h3 style="padding-left:10px">Work Experience</h3>
    <ul style="line-height: 25px;word-spacing:1.5px;letter-spacing: 0.9px;max-width: max-content;">
        <b>Medical Union Pharmaceuticals (June-2024,Present)<br>Key Responsibilities :</b>
        <li>Managed incubator Chambers</li>
        <li>Performed developmental and on-going stability studies</li>
        <li>Developed HPLC methods as per ICH guidelines</li>
        <li>Validated HPLC methods as per ICH guidelines</li>
        <li>Collaborated with formulation scientists by analyzing different developmental formulations</li>
        <li>Participated in creation of test method validation files for the EDA</li>
        
    </ul>
    <h3 style="padding-left:10px;"">Skills</h3>
    <ul style="padding: left 15px; line-height: 140%; line-break: loose;">
        <li>Stability Testing</li>
        <li>Analytical Method development</li>
        <li>Analytical test method validation</li>
        <li>Good documentation practice</li>
        <li>Drug dissolution profile</li>
        <li>Comparative dissolution</li>
        <li>Use of fluorometry for impurities quantification</li>
        <li>Proficient in operating various HPLC instruments (Waters,Shimadzu,Agilent)</li>
        <li>Proficient in working with various chromatography softwares (Empower 3 , OpenLabCDS , LabSolutions)</li>
        <li>HPLC troubleshooting</li>
        <li>Python (Django,Flask,Selenium,Pandas,BeautifulSoup,NumPy)</li>
        <li>Data analysis using python & SQL</li>
        <li>HTML,CSS,JavaScript</li>
        <li>Software development</li>    
        <li>Good Communication Skills</li>
        <li>Ability to work in a team</li>
    </ul>
    <h3 style="padding-left:10px;"">Languages</h3>
    <ul style="line-height:90%;">
        <li>Arabic
            <p style="text-indent: 4%;">-Native proficiency</p>
        </li>
        <li>
            English
            <p style="text-indent:4%;">-Full working proficiency</p>
        </li>
        <li>
            French
            <p style="text-indent:4%;">-Elementary proficiency</p>
        </li>
        <li>
            German
            <p style="text-indent:4%;">-Elementary proficiency</p>
        </li>
    </ul>
</div>
    
</body>
</html>